
.inp {
  border: none;
  background: white;
  outline: none;
  float: left;
  padding: 0;
  color: #FEBC11;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9fafa;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FEBC11;
  transition: 0.4s;
  text-decoration: none;
}

.search:hover>.inp {
  width: 240px;
  padding: 0 6px;
  top: 50px;

}


.search:hover>.btns {
  color:  #FEBC11;
  background-color: #1c1b1b;
}

.search>.inp:focus {
  width: 240px;
  padding: 0 6px;
  top: 50px;

}


.fixed-table {
  width: 100%; /* définissez la largeur de la table à 100% */
  height: 400px; /* définissez la hauteur de la table à la valeur de votre choix */
  overflow-y: scroll; /* activez la barre de défilement verticale si nécessaire */
}

