
.iconne{
width: 494px;
height: 296px;
background-color: 
#FEBC11;
box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.25);
border-radius: 5px;
display: flex;
justify-content: center;
}
.iconne:hover{
  box-shadow: 7px 6px 10px #4C7FC7;
}
.formulaire{
  width: 400px;
}
.iconne2{
  width: 494px;
  height: 296px;
 
 
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  }

.form1{
  width: 643px;
  height: 684px;
  border-radius: 5px;
  }
.lab{
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  
}

  .form2{
    width: 643px;
    height: 590px;
    }

    .boutton{
      font-size: 20px;
      border:none;
      width: 230px;
      height: 40px;
      color: aliceblue;
      background-color: #FEBC11;
      border-radius: 7px;
      box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.25);
      
    }
.titre{
  margin-top: 30px;
  margin-bottom: 130px;
  font-weight: bold;
  font-size: 40px;
  color: #4C7FC7;
}

  .logo{
      width: 643px;
      height: 170px;
      position: absolute;
      margin-top: -72px;
      display: flex;
      justify-content: center;
      
    }
    .contour{
      background-color: aliceblue;
      width: 200px;
      height: 199px;
      display: flex;
      justify-content: center;
      align-items: center;
     border: 6px solid #FEBC11 ;
     border-radius: 150px;

    }

  .formm{
    width: 643px;
    height: 590px;
    background-color:#4C7FC7;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   box-shadow: 7px 6px 10px  #FEBC11 ;
    }

    






